:root {
    --color-principal: #FA553E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo */
.main {
    display: flex;               
    flex-direction: column;     
    justify-content: center;     
    align-items: center;         
    height: 100vh;            
    padding: 20px;             
    background-color: #f3f3f3; 
}

.header{
    margin: auto;
    height: 7rem;
    display: flex;
    justify-content: space-between;
}
.header img{
    width:80px;
    min-height: auto;
}

.header h1{
    font-size: 64px;
    color: var(--color-principal);
    margin: 1rem;
    padding-left: 2rem;
    letter-spacing: 2px;
}

.questions{
    padding: 3rem;
    background-image: url('../Image/img.jpg'); 
    background-size: cover;        
    background-position: center;                   
    display: flex;            
    flex-direction: column;     
    justify-content: center;     
    align-items: center;
 
    }

.questions h1 {
    font-size: 32px;
    text-align: center;
    color: var(--color-principal);
    margin: 2rem;
    padding: 1rem;
    letter-spacing: 2px;
}

.questions h2 {
    margin: 0.5rem;
    padding: 1rem;
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--color-principal);
    font-weight: bold;
}

.questions p a {
    font-size: 20px;
    color:#f3f3f3; 
    margin-bottom: 12px;
    text-decoration: none; 
    padding: 7px; 
    display: inline-block; 
    
}
.questions p a:hover {
    background-color: var(--color-principal);
    cursor: pointer; 
    width: 700px;;
}

.questions p a:active {
    -transform: scale(0.95); 
}
footer {
    margin-top: 20px;
}
